@model Portal.Common.ViewModels.Posts.PostDetailsViewModel
@using Portal.Common.Extention
@using Microsoft.AspNetCore.Html
@{
    ViewBag.Title = "جزئیات مطلب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 bg-white post-details p-0">
    <div class="post-details-image">
        <img src="@Model.Image" class="col-lg-12 p-0" height="300">
        <div class="post-details-text col-lg-12 text-justify p-2">
            <p class="m-2">
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div>
</div>

<div class="alert alert-light mt-2 mb-1">
    نظرات
</div>

<div class="col-md-12 bg-white p-2">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="txtName">نام</label>
                <input type="email" class="form-control" id="txtName" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label for="txtEmail">ایمیل شما</label>
                <input type="password" class="form-control" id="txtEmail" placeholder="">
            </div>
        </div>
        <div class="mb-3">
            <label for="axtComment">نظر شما</label>
            <textarea class="form-control" id="axtComment" placeholder="" required=""></textarea>
        </div>

        <button class="btn btn-primary btn-block" type="submit">ثبت نظر</button>

        <p class="text-muted mb-0 mt-1">
            مشخصات خود را برای ثبت نظر وارد کنید.
        </p>
    </form>
    <hr>
    <div class="col-12 p-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid">
                        <p class="text-secondary text-center float-right"> 1 ساعت پیش</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-right" href="https://maniruzzaman-akash.blogspot.com/p/contact.html">
                                <strong>
                                    پارسا
                                    محمودی
                                </strong>
                            </a>
                        </p>
                        <div class="clearfix"></div>
                        <p class="mt-2 text-justify">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از
                            صنعت چاپ و با
                            استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                            بهبود
                            ابزارهای کاربردی می باشد.
                        </p>
                        <p>
                            <a href="#!" class="float-right btn  ml-2 f-13">
                                <i class="fa fa-reply"></i>
                            </a>
                            <a href="#!" class="float-right text-danger btn f-13"> <i class="fa fa-heart"></i> </a>
                        </p>
                    </div>
                </div>
                <div class="card card-inner mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid">
                                <p class="text-secondary text-center">15 دقیقه قبل</p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html">
                                        <strong>پارسا محمودی</strong>
                                    </a>
                                </p>
                                <p class="text-justify">
                                    لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از
                                    صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                    در
                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                    نیاز و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                                <p>
                                    <a class="float-right btn text-white btn-danger f-13"> <i class="fa fa-heart"></i> لایک</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Sidebar{
    <div class="card profile-sidebar pt-0">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="~/Images/16.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                @Model.Title
            </div>
            <div class="profile-usertitle-job">
                مدیر سایت
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons p-2">
            <button type="button" class="btn btn-success btn-sm btn-block">
                دنبال کردن اموزش
            </button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <div class="col-12">
            <div class="col-6 float-left">
                <p class="d-inline">
                    <i class="fal fa-calendar-alt"></i>
                    تاریخ ایجاد:
                </p>
                <small>
                    @Model.CreatedDate.ToPersianDateString()
                </small>
            </div>
            <div class="col-6">
                <p class="d-inline">
                    <i class="fal fa-eye-alt"></i>
                    تعداد بازدید:
                </p>
                <small>
                    @Model.ViewCount
                </small>
            </div>
            <div class="col-6">
                <p class="d-inline">
                    <i class="fal fa-eye-alt"></i>
                    دسته بندی:
                </p>
                <small>
                    @Model.Category
                </small>
            </div>
        </div>
    </div>
}